extends layout

block content
  nav.nbar.navbar.navbar-expand-lg.bg-body-light(style='background-color: green;')
    div.container-fluid
      a.navbar-brand(style='color: red;',href='/') Acade Academy 